.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 400ms, transform 400ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  transition: opacity 400ms, transform 400ms;
  opacity: 0;
}

@keyframes cloud-animation {
  from {
    right: -100%;
  }
  to {
    right: 100%;
  }
}
