.fade-enter {
  visibility: hidden;
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  visibility: visible;
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  visibility: visible;
  opacity: 1;
}

.fade-exit-active {
  transition: opacity 300ms, transform 300ms;
  opacity: 0;
}
