.hero {
  /* width: 100vw; */
  /* height: 80vh; */
}

.hero-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 1.25rem auto;
}

.hero-image {
  margin: 3rem;
  border-radius: 50%;
  width: 15.625rem;
  height: 15.625rem;
  background-image: url('../../public/img/mrrobot.jpg');
  background-position: center;
  background-size: cover;
  box-shadow: var(--box-shadow-small);
  border: 6px solid var(--border);
}

.hero-info-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
}

.hero-name {
  font-size: 3em;
  font-weight: var(--bold);
  text-shadow: var(--box-shadow-small);
  text-align: center;
}

.hero-position {
  font-size: 1.4em;
  font-weight: var(--semi-bold);
  text-shadow: var(--box-shadow-small);
  text-align: center;
}

.hero-current-position {
  text-align: center;
}

.hero-contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.hero-contact {
  display: flex;
  gap: 0.5rem;
}

.hero-icon-phone {
  background-image: url('../../public/img/telephone.png');
  width: 1.2rem;
  height: 1.2rem;
  background-size: cover;
}

.hero-icon-email {
  background-image: url('../../public/img/email.png');
  width: 1.2rem;
  height: 1.2rem;
  background-size: cover;
}

.hero-icon-github {
  background-image: url('../../public/img/github.png');
  width: 1.2rem;
  height: 1.2rem;
  background-size: cover;
}

.hero-icon-telegram {
  background-image: url('../../public/img/telegram.png');
  width: 1.2rem;
  height: 1.2rem;
  background-size: cover;
}

@media only screen and (min-width: 768px) {
  .hero-style {
    flex-direction: row;
  }

  .hero-name {
    font-size: 6em;
    text-align: justify;
  }

  .hero-position {
    font-size: 2em;
    text-align: justify;
  }

  .hero-current-position {
    text-align: start;
  }

  .hero-contact-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
