.language {
  display: flex;
  align-items: center;
}

.language-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin: 1.25rem auto;
  gap: 2rem;
  background-color: var(--grey);
  box-shadow: var(--box-shadow-small);
  border-radius: 0.3rem;
}

.language-content-header {
  font-size: 2em;
  font-weight: var(--semi-bold);
}

.language-content {
  width: inherit;
  padding: 0 1rem;
  text-align: justify;
  font-weight: var(--semi-bold);
}

.language-chart {
  display: block;
}
