.scroll {
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 3rem;
  margin-bottom: 3rem;
}

.scroll-icon {
  width: 2rem;
  background-color: var(--red-scroll-icon);
  border-radius: 50%;
}
