.skills {
  display: flex;
  align-items: center;
}

.skills-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
  padding: 1rem;
  margin: 1.25rem auto;
  gap: 2rem;
  background-color: var(--grey);
  box-shadow: var(--box-shadow-small);
  border-radius: 0.3rem;
}

.skills-header {
  font-size: 2em;
  font-weight: var(--semi-bold);
}

.skills-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.skills-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-headers-data {
  font-size: 1.4em;
  font-weight: var(--semi-bold);
  margin-bottom: 0.2rem;
}

.skills-content-data {
  margin: 0.1rem 0;
}
